body {
    /*font-family: 'Open Sans', Helvetica, sans-serif;*/
    margin:0;
}

.container{
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

.butt{padding: 0 18px 0 2px;}

.topbar{
    width: 100%;
    background-color: #2C869C;
    color:#fff;
    text-align: center;
    font-size: 40px;
}

.navbar{
    font-size: 13px;
    padding: 11px;
    float: left;
    width: 10%;
    margin: 0 15px 0 0;
    list-style: none;
    min-width: 120px;
    background-color: #fefefe;
    height: 100%;
    position: fixed;
}

.navbar a, .topbar a {
    display: table-cell;
    text-decoration: none;
    color: #444;
    padding: 4px 0 4px 0;
    border-bottom: solid 1px #ccc;

}

.kart_navbar{
    position: relative;
    margin: 0;
    box-shadow: none;
    background-color: #F5F5F5;
}

.topbar a{
    display: -webkit-inline-box;
    font-size: 20px;
    margin: 0 13%;
    border-bottom: none;
    font-weight: 400;
}

.navbar a:hover {
    font-weight: bold;
}

.topbar a:hover{
    color:#0CF;
}

.login{
    width:200px;
    margin-top: 11%;
}

.form-control{
    padding: 15px !important;
}
#map_canvas {
    width: 90%;
    height: 500px;
}
.nopadd{
    padding: 0;
}